:root {
  --bg: #b7e5cd;
  --header: #ddf4e7;
  --logo: #ea2264;
  --name-heading: #3a1078;
  --main-heading: #8f87f1;
  --content-heading: #ff8383;
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}
.container {
  background-color: var(--header);
  margin: 20px;
  padding: 10px;
  height: 730px;
}

/* header  */
header {
  padding: 10px 30px;
}
#profile-logo {
  list-style: none;
  color: var(--logo);
  font-family: "Moon Dance", cursive;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
  transition: all 200mx ease-in-out;
}
#profile-logo:hover {
  letter-spacing: 0.5rem;
  color: var(--nav-bg);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
li a {
  text-decoration: none;
  color: var(--logo);
}

/* main section */
h2 {
  color: var(--name-heading);
  font-family: "Moon Dance", cursive;
  text-align: center;
  font-size: 40px;
}
#profile-image {
  height: 200px;
  width: 200px;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-content: center;
  gap: 100px;
}
.profile-info {
  margin-left: 30px;
  height: 500px;
  width: 500px;
  padding: 10px 25px;

  font-size: 14px;
}
h3 {
  padding: 10px 0px;
  color: var(--main-heading);
}
h4 {
  padding: 4px 0px;
  color: black;
  font-size: 13px;
}
.profile-experience {
  margin-left: -45px;
  border-left: 2px solid black;
  font-size: 14px;
  padding: 10px 65px;
}

table,
tr,
th,
td {
  padding: 3px;
}

/* footer */
.footer {
  text-align: center;
}
