:root {
  --bg: #b7e5cd;
  --header: #ddf4e7;
  --logo: #ea2264;
  --name-heading: #3a1078;
  --main-heading: #8f87f1;
  --content-heading: #ff8383;
  --table-heading: #fba518;
  --nav-bg: #210f37;
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}
.container {
  background-color: var(--header);
  margin: 20px;
  padding: 10px;
  height: 730px;
}

/* header  */
header {
  padding: 10px 50px;
}

#profile-logo {
  list-style: none;
  color: var(--logo);
  font-family: "Moon Dance", cursive;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
  transition: all 200mx ease-in-out;
  height: 500px;
}
#profile-logo:hover {
  letter-spacing: 0.5rem;
  color: var(--table-heading);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  cursor: pointer;
  background: var(--nav-bg);
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
li a {
  text-decoration: none;
  color: var(--logo);
}
li a:hover {
  color: var(--table-heading);
  letter-spacing: 0.2rem;
}

/* main section */

h2 {
  color: var(--name-heading);
  font-family: "Moon Dance", cursive;
  text-align: center;
  font-size: 40px;
}

#profile-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 1px solid var(--name-heading);
}
.social-links {
  display: flex;
  justify-content: first baseline;

  text-decoration: none;
  color: var(--logo);
}
.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-content: center;
  gap: 100px;
  height: 500px;
}
.profile-info {
  margin-left: 30px;

  padding: 10px 25px;

  font-size: 16px;
}
h3 {
  padding: 10px 0px;
  color: var(--main-heading);
  font-size: 18px;
}
/* specific h4 tags font and color chnage */
#headings {
  color: #810ca8;
  font-size: 18px;
}
h4 {
  padding: 4px 0px;
  color: black;
  font-size: 15px;
}
.profile-experience {
  margin-left: -45px;
  border-left: 2px solid black;
  font-size: 14px;
  padding: 10px 65px;
}

table,
tr,
th,
td {
  padding: 3px;
}
th {
  color: var(--table-heading);
  text-align: center;
}

th:hover {
  background-color: var(--logo);
  border-radius: 5px;
}

table {
  border: 1px solid var(--content-heading);
  border-radius: 6px;
}
/* footer */
.footer {
  text-align: center;
}

/* media queries */

@media screen and (width > 1200px) {
}
@media screen and (width < 1200px) and (width > 450px) {
  .container {
    margin: 10px;
    padding: 10px;
    height: 800px;
  }

  .flex-container {
    height: 500px;
    gap: 60px;
    transform: scale(0.9);
    transform-origin: top center;
  }
  h3 {
    margin-top: 15px;
  }
  h2 {
    text-align: center;

    font-size: 35px;
    top: 20px;
    margin-top: 13px;
  }
  #profile-image {
    height: 170px;
    width: 170px;
  }
  .profile-info {
    width: 410px;
  }
  .social-links {
    font-size: 12px;
  }

  #headings {
    font-size: 15px;
  }
  h4 {
    font-size: 12px;
  }
  .profile-experience {
    width: 470px;
  }
}

@media screen and(width  < 450px ) {
  .container {
    margin: 10px;
    padding: 6px;
    height: 830px;
  }
  .flex-container {
    height: 500px;
    gap: 30px;
    transform: scale(0.5);
    transform-origin: top center;
  }
  h3 {
    margin-top: 7px;
  }
  h2 {
    text-align: center;

    font-size: 25px;
    top: 20px;
    margin-top: 13px;
  }
}
